<nav id="color" class="navbar navbar-expand-lg navbar-dark  sticky-top " style="background-color: black;">
                <a class="navbar-brand ms-5" routerLink="lamborghini">
                    <img src="https://www.lamborghini.com/themes/custom/lambo_facelift_2019/images/logo.png" alt="" width="90%" height="80%" class=" ms-2">
                </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a routerLink="models" class="nav-link active " >MODELS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" routerLink="ownership">OWNERSHIP</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="#" routerLink="motorsports">MOTORSPORTS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="#" routerLink="preowned">PREOWNED</a>
                </li>
            </ul>
<ul class="navbar-nav ms-auto"> 
        <li class="nav-item ">
            <a class="nav-link active" href="#" routerLink="dealership">DEALERSHIP</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link active" href="#" routerLink="museum">MUSEUM</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link active me-5 " href="#" routerLink="store">STORE</a>
        </li>
</ul>
        </div>
</nav>
<!-- header&button-1 -->
<div class="header">
    <div class="container ">
        <div class="row text-left">
            <div class="col lg-12">
                <div>
                    <h1 class="text-white  overlay">AUTOMOBILI LAMBORGHINI</h1>
                    <h2  class="text-white  overlay">VISION FOR<br> THE FUTURE</h2>
             <button class="button" type="button"> <span>Explore</span> </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- images / carousel-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://wallpapercave.com/wp/wp8003529.jpg" class="d-block " width="100%" height="80%" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-1"> HURACAN</h1>
                <H4 class="display-4"> BASED ON TRUE STORY</H4>
             <button class="button bg-light " type="button"> <span>Explore</span> </button>

            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.hdcarwallpapers.com/walls/novitec_lamborghini_urus_esteso_2019_4k_2-HD.jpg" class="d-block "  width="100%" height="80%" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-1"> URUS</h1>
                <H4 class="display-4">UNLOCK ANY ROAD</H4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.hdcarwallpapers.com/walls/2018_novitec_torado_lamborghini_aventador_s_4k_9-HD.jpg" class="d-block "  width="100%" height="80%" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-1 ">AVENTADOR</h1>
                <H4 class="display-4"> REAL EMOTIONS SHAPE THE FUTURE</H4>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- header-1 -->
<div class="header-1">
    <div class="container ">
        <div class="row text-left">
            <div class="col lg-12">
                <div>
                    <h1 class="text-white  overlay display-1">CREAT YOUR <br> LAMBORGHINI</h1>
             <button class="button" type="button"> <span>Explore</span> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-2 -->
<div class="header-2">
    <div class="container ">
        <div class="row text-left">
            <div class="col lg-12">
                <div>
                    <h1 class="text-white  overlay display-1">DEALER LOCATOR</h1>
                    <h2 class="text-white  overlay">FIND YOUR<br> COUNTRY DEALER</h2>
             <button class="button" type="button"> <span>Explore</span> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news -->
<h1 class=" text-lg-center ">NEWS</h1>
<h1 class="display-1 text-center">LAMBORGHINI WORLD</h1>
<!-- header-3 -->
<div class="container">
<img src="https://www.hdcarwallpapers.com/download/2013_lamborghini_veneno_geneva_motor_show-2560x1440.jpg" width="90%" class="ms-5" height="70%" alt="">
</div> <br>
<!-- News -->
<div class="container">
    27 MAY 2021 <br>
    <button class="btn btn-light" type="button">URUS</button>
</div>
<br>
<!-- cards -->
<div class="container">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">URUS AND THE GHERKIN OF LONDON : BETWEEN DESIGN AND FUNCTIONALITY</h1>
                <p class="card-text ">The Gherkin of London, one of the most admired symbols of the City, is the perfect setting for the shapes of Lamborghini
                Urus. The characteristic cone shape of the building, designed to reduce atmospheric turbulence, perfectly blends in with
                the strong personality of the Super SUV capable of exploring any terrain.</p>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-outline-dark ms-5">READ MORE</button>
        </div>
    </div>
</div>
<br> 
<!-- cards images -->
<div class="container">
    <div class="row g-2 " >
        <div class="col-md-5">
            <img src="https://www.drivespark.com/wallimgdownload/photos/1985-lamborghini-countach/1985-lamborghini-countach-quattrovalvole-03.jpg" width="90%" height="80%" alt="...">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h3 class="card-title">LAMBORGHINI COUNTACH :  DESIGN <br> THAT MADE EASY</h3>
            <br> <br> <button class="btn btn-outline-dark ms-5">READ MORE</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-2 ">
        <div class="col-md-5">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/cars/huracan_super_trofeo_evo2/st_evo2_og.jpg"
                width="90%" height="80%" alt="...">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h3 class="card-title">NEW HURACAN SUPER TROFEO EVO2 : PURE ADRENALINE</h3>
              <br> <br>   <button class="btn btn-outline-dark ms-5">READ MORE</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container justify-content-center text-center">
     <button class="btn btn-outline-white text-white bg-dark justify-content-md-center ">  SEE ALL  </button> <br>
</div>
<br>


<!-- footer -->
<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-colorN: black;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between  p-2">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
        </div>

        <!-- Section: Social media -->
        <!-- Right / icons -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        COMPANY
                    </h6>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        CAREERS
                    </h6>
                </div><div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        CONTACT US
                    </h6>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        MEDIA CENTER
                    </h6>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        PRIVACY
                    </h6>
                </div><div class="col-md-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        NEWSLETTER
                    </h6>
                </div>
                </div>
                </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center text-white " style="background-color: black">
        © 2021 Copyright: Automobili Lamborghini S.P.A
    </div>
    <!-- Copyright -->
</footer>



